@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
 
@import "nativewind/theme";

@theme {
  --font-roboto: "Roboto", sans-serif;
  
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  
  --spacing-button: 57px;

  --color-accent-brand-bg-primary: #015F43;
  --color-accent-brand: #00875F;
  --color-accent-brand-light: #00B37E;
  --color-accent-red-bg-primary: #AA2834;
  --color-accent-red: #F75A68;
  --color-accent-blue: #5A86F7;
  --color-accent-blue-dark: #284DAA;
  
  --color-background-primary: #121214;
  --color-background-secondary: #202024;
  --color-background-tertiary: #29292E;

  --color-gray-800: #323238;
  --color-gray-700: #7C7C8A;
  --color-gray-600: #949494;
  --color-gray-500: #C4C4CC;
  --color-gray-400: #E1E1E6;
  --color-gray-300: #666666;
}
